{% extends 'backend/base.html' %}

{% block title %} Edit Product {% endblock %}

{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Edit Product</h1>
</div>

<section>
    <form method='POST'>
        {% csrf_token %}
    <div class="row">
      <div class="col-md-6">
        <div class="card shadow mb-4">
          <div class="card-body">
            <div class="form-group">
              <label for="">Product Name</label>
              {{ product_form.title }}
            </div>
            <div class="form-group">
              <label for="">Product SKU</label>
              {{ product_form.sku }}
            </div>
            <div class="form-group">
              <label for="">Description</label>
              {{ product_form.description }}
            </div>
          </div>
        </div>

        <div class="card shadow mb-4">
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Media</h6>
          </div>
          <div class="card-body border">
            <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions"></vue-dropzone>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card shadow mb-4">
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Variants</h6>
          </div>
          <div class="card-body">
            <div class="row" v-for="(item,index) in product_variant">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="">Option</label>
                  <select v-model="item.option" class="form-control">
                    <option v-for="variant in variants"
                            :value="variant.id">
                      {{ variant.title }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <label v-if="product_variant.length != 1"
                         class="float-right text-primary"
                         style="cursor: pointer;">Remove</label>
                  <label v-else for="">.</label>
                  <input-tag v-model="item.tags" class="form-control"></input-tag>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer" v-if="product_variant.length < variants.length && product_variant.length < 3">
            <a href="" class="btn btn-primary">Add another option</a>
          </div>

          <div class="card-header text-uppercase">Preview</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <td>Variant</td>
                  <td>Price</td>
                  <td>Stock</td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="variant_price in product_variant_prices">
                  <td>{{ variant_price.title }}</td>
                  <td>
                    <input type="text" class="form-control" v-model="variant_price.price">
                  </td>
                  <td>
                    <input type="text" class="form-control" v-model="variant_price.stock">
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-lg btn-primary">Save</button>
    <a type="button" href={% url 'product:list.product' %} class="btn btn-secondary btn-lg">Cancel</a>
</form>
<br>
  </section>
{% endblock %}